:root{
    font-family: "Ubuntu", sans-serif;
    --main-color: rgb(255, 196, 0);
    --button-color: rgb(245, 181, 6);
    --bg-color: rgb(255, 255, 255);
    --text-color: hsl(40, 7%, 9%);
    --p-color: rgb(101, 105, 105);
    --heading-font: 2rem;
    --p-font: 1.1rem;
}


main{
    background-color: rgb(71, 68, 68);
}

article{
    padding: 2rem 5rem;
    display: flex;
    flex-wrap: wrap;
}

a{
    cursor: pointer;
}

button{
    cursor: pointer;
}

label{
    font-weight: 500;
    cursor: pointer;
}

.container{
    height: 640px;
}

.home{
    flex: 1 1 45%;
    min-width: 50ch;
    background-color:  var(--bg-color);
}

.resto{
    flex: 1 1 30%;
}

.navlist{
    display: flex;
    padding: 2em 3em;
}

.navlist > ul{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    gap: 2rem;
    width: fit-content;
}

.navlist p{
    font-weight: 600;
    color: var(--main-color);
}

.navlist a{
    font-weight: 500;
    color: var(--text-color);
    transition: all ease 0.40s;
}

.navlist a:hover, .navlist a:focus{
    color: var(--main-color);
}

h1{
    padding-left: 3rem;
    margin-top: 3rem ;
    font-weight: 700 ;
    font-size: calc(var(--p-font)*2);
}
span.title-heading{
    display: block;
}

p.landing-text{
    padding: 1rem 3rem;
    font-size: calc(var(--p-font)/1.3);
    color: var(--p-color);
}

.btn{
    border-radius: 0.4rem;
    color: var(--button-color);
    background-color: var(--text-color);
}

.btn.create-account{
    margin-top: 1rem;
    margin-left: 3rem;
    width: 15rem;
    height: 3rem;
}

.btn.more{
    background-color: var(--bg-color);
    height: 2.2rem;
}

.desserts-container{
    margin-top: 3rem;
    padding: 1rem 1rem 1rem 3rem;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.dessert-heading{
    font-weight: 500;
    color: var(--p-color);
}

.dessert-body{
    display: grid;
    grid-auto-columns: 33%;
    grid-auto-flow: column;
    overflow-x: auto;
    scrollbar-width: none;
}
.dessert-image{
    display: grid;
    grid-template-columns: auto auto;
    width: 100%;
    height: 150px;
    align-items: center;
    padding-left: 3rem;
}

.food-description{
    font-weight: 500;
}

.food-description > span{
    display: block;
    font-weight: 500;
}

span.price{
    color: var(--main-color);
}

.dessert-image img{
    width: 70px;
    height: 70px;
    clip-path: circle();
}

/* Restaurant */

.resto{
    overflow-x: hidden;
    position: relative;
    background-color: var(--main-color);
}

.resto-header{
    display: flex;
    padding: 2em 3em;
    gap: 2rem;
    justify-content: center;
    align-items: center;
}

#find-resto{
    display: none;
}


.sign-in{
    width: 5rem;
    height: 2rem;
    padding: 0.2rem 0 0.2rem 0;
    text-align: center;
    border-radius: 0.4rem;
    border: 1px solid grey;
    color: var(--button-color);
    background-color: var(--text-color);
    flex-shrink: 0;
    margin-right: 0.8rem;
}


.main-image{
    margin-top: 2rem;
    margin-left: -8rem;
    height: 350px;
    width: 500px;
    clip-path: circle();
}

.main-image > img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.see-menu{
    position: absolute;
    height: 2.5rem;
    top: 250;
    left: 210;
}

.resto-options{
    width: 100%;
    position: absolute;
    padding-inline: 0.5rem;
    display: grid;
    grid-auto-columns: 60%;
    grid-auto-flow: column;
    margin-top: -5rem;
    gap: 0.5rem;
    overflow-x: auto;
    scrollbar-width: none;
}

::-webkit-scrollbar{
    visibility: hidden;
}
.card{
    position: relative;
    border-radius: 0.4rem;
    height: 200px;
    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(0.3rem);
    padding-left: 0.8rem;
    padding-right: 0.2rem;
    padding-top: 1rem;
}

.card > h3{
    font-size: calc(var(--p-font) * 0.9);
    font-weight: 500;
}

.card span{
    color: var(--button-color);
    margin-left: 0.5rem;
}

p.distance{
    color: var(--p-color);
    margin-top: -0.3rem;
}

p.meal-description{
    margin-top: 0.5rem;
    color: var(--p-color);
    margin-bottom: 1rem;
}

a.order{
    font-weight: 500;
    color: var(--text-color);
    font-size: calc(var(--p-font) * 0.8);
    margin-left: 12rem;
}

a.order::before{
    content: " $8";
    position: absolute;
    left: 15;
    font-weight: 500;
    color: var(--button-color);
}

@media(max-width: 500px){
    article{
        display: grid;
        padding: 0;
    }

    .dessert-body{
        display: grid;
        grid-auto-columns: 50%;
        grid-auto-flow: column;
    }

    .resto-options{
        grid-auto-columns: 80%;
    }

    a.order{
        margin-left: 16rem;
    }
}

@media(prefers-color-scheme: dark){
    :root{
        --bg-color: hsl(40, 7%, 9%);
        --text-color: rgb(255, 255, 255);
        --p-cololor: rgb(230, 236, 236);
    }

    label{
        color: var(--bg-color);
    }
    
   .btn{
    background-color: var(--bg-color);
   }

  .card{
      background-color: rgba(0, 0, 0, 0.8);
 
  }
    
} 
